<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>CFBundleIdentifier</key>
        <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
        <key>CFBundleName</key>
        <string>Webbing</string>
        <key>CFBundleVersion</key>
        <string>1</string>
        <key>CFBundleShortVersionString</key>
        <string>1.0</string>
	<key>NSAccessibilityUsageDescription</key>
	<string>Webbing simulates ⌘V so your paste happens automatically.</string>
	<key>NSInputMonitoringUsageDescription</key>
	<string>Webbing uses Apple-Events internally to deliver global hotkeys.</string>
</dict>
</plist>
